html,
body {
  margin: 0;
  padding: 0;
}

footer {
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 -2px 4px -2px black;
  background-color: lightgray;
}